# Discord
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Web
WEB_URL=http://localhost:3000
WEB_PORT=3000
SESSION_SECRET=
ADMIN_DISCORD_ID=

# Gemini
GEMINI_API_KEY=
GEMINI_MODEL=

# Base de datos
DATABASE_URL=
